.commentBanner {
  position: absolute;
  cursor: pointer;
  bottom: 0;
  right: 0;
}
/* Popup Styles */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.popupContent {
  /* background: white; */
  background-color: #242424;
  padding: 20px;
  border-radius: 10px;
  min-width: 300px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  text-align: center;
}

.popupContent h1 {
  font-size: 2em;
  font-weight: bold;
}

.textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.popupActions {
  display: flex;
  justify-content: space-between;
}

.cancelButton,
.confirmButton {
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.cancelButton {
  background-color: #b80000;
  color: white;
}

.confirmButton {
  background-color: rgba(255, 190, 0, 0.8);
  color: white;
}
