.container {
  animation: fadeInAnimation 2s;
}

.container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.spinnerContainer {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.favoritesTitle {
  margin: 0;
  font-size: 2em;
}

.searchBar {
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
  justify-content: center;
}

.searchBar button,
.paginationButton {
  background-color: rgba(255, 190, 0, 0.8);
  padding: 10px;
}
.paginationButton {
  margin: 10px;
}

.searchForm {
  display: flex;
  justify-content: center;
  flex: 1;
  max-width: 500px;
}

.searchInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 16px;
  min-width: 100px;
  flex: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.image:hover {
  transform: scale(1.05);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pageInfo {
  font-size: 16px;
}
